@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Indie+Flower|Josefin+Sans:400,600,700|Sansita:400,700,800');
/*Use the following CSS rules to specify these families:
font-family: 'Sansita', sans-serif;
font-family: 'Droid Serif', serif;
font-family: 'Indie Flower', cursive;
font-family: 'Josefin Sans', sans-serif;*/

.carousel-item img {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.25em;
  font-weight: 300;
  position: relative;
}

/*Header*/
.navbar-light {
  color: darkorange;
  padding: 60px 0;
}

.navbar-light .navbar-nav .nav-link{
  color: coral;
  font-size: large;
  font-weight: 700;
}

.navbar-light .navbar-nav .active > .nav-item {
  background-color: rgba(37, 41, 48, 0.1);
}

.navbar-light .navbar-nav .active > .nav-link {
  color: wheat;
  
}

header .nav a:hover {
  color: fuchsia;
}

header .nav .active a {
  color: cyan;
  border-bottom: 4px solid darkorange;
}

header .navbar-light .nav-item .active a:hover {
  color: crimson;
}

header .navbar-brand {
  padding-top: 12px;
}

header .navbar-brand img {
  position: absolute;
  max-width: 50px;
  max-height: 42px;
}

header .navbar-brand h1 {
  padding-left: 50px;
  color: darkorange;
  font-size: 1.2em;
  font-weight: 700;
  margin: 0;
}

header .navbar-brand span.subhead {
  padding-left: 70px;
  display: block;
  font-family: 'Sansita', sans-serif;
  font-size: 0.7em;
}

.navbar button {
  margin-top: 15px;
  border-color: blueviolet;
}

@media(max-width:34em) {
  .navbar .nav .nav-item {
    float: none;
  }
  
  .navbar .nav {
    float: none;
  }
  
  .navbar .collapse.in, 
  .navbar .collapsing {
    clear: both;
  }
}

/*Page*/
.page {
  padding: 25px 0;
}

.page h1 {
  text-align: center;
  margin-bottom: 30px;
}

/*
.page h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
*/

/*Page Goal*/
#goal {
  background-color: chartreuse;
  background-image: linear-gradient(to bottom, #EEF08A, #819A2D);
  border-top: 20px solid rgba(258, 200, 86, 0.5);
}

/*Page Services */
#services img.icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  width: 80px;
  height: 80px;
}

.service {
  margin: 20px 0;
  text-align: center;
}

#services h2 {
  padding-bottom: 10px;
}

/*Page Staff*/
#staff {
  background-color: darkorchid;
  background-image: linear-gradient(to top, #f6c0f9, #b25db7);
  border-top: 20px solid rgba(28, 187, 219, 0.2);
}

div #staff img {
  width: 100%;
}

#staff p {
  font-size: 0.8em;
}

#staff h2 {
  font-size: 1.0em;
  font-weight: 400;
  padding-bottom: 5px;
  color:beige;
}

.advisors {
  margin: 10px 0;
}