@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Indie+Flower|Josefin+Sans:400,600,700|Sansita:400,700,800');
/*Use the following CSS rules to specify these families:
font-family: 'Sansita', sans-serif;
font-family: 'Droid Serif', serif;
font-family: 'Indie Flower', cursive;
font-family: 'Josefin Sans', sans-serif;*/

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.25em;
  font-weight: 300;
  position: relative;
}

/*Header*/
.navbar-light {
  color: darkorange;
  padding: 60px 0;
  transition: all 0.5s ease-out;
}

.navbar-light .navbar-nav .nav-link{
  color: coral;
  font-size: large;
  font-weight: 700;
}

.navbar-light .navbar-nav .nav-link.active {
  color: darkred;
}

header .navbar-brand {
  padding-top: 12px;
}

header .navbar-brand img {
  position: absolute;
  max-width: 50px;
  max-height: 42px;
}

header .navbar-brand h1 {
  padding-left: 50px;
  color: darkorange;
  font-size: 1.2em;
  font-weight: 700;
  margin: 0;
}

header .navbar-brand span.subhead {
  padding-left: 70px;
  display: block;
  font-family: 'Sansita', sans-serif;
  font-size: 0.7em;
}

.navbar button {
  margin-top: 15px;
  border-color: blueviolet;
}

@media(max-width:34em) {
  .navbar .nav .nav-item {
    float: none;
  }
  
  .navbar .nav {
    float: none;
  }
  
  .navbar .collapse.in, 
  .navbar .collapsing {
    clear: both;
  }
}

.carousel-item img {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.inbody {
  background: rgba(0, 225, 255, 0.5);
}

/*Navbar transition*/
header .navbar.inbody {
  padding-bottom: 5px;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

header .navbar.inbody:hover {
  background: rgba(0, 225, 255, 1);
}

header .navbar.inbody .navbar-nav {
  padding-top: 5px;
}

header .inbody .navbar-brand img {
  max-width: 40px;
  max-height: 32px;
  padding-bottom: 2px;
}

header .inbody .navbar-brand h1 {
  font-size: 1em;
  padding-left: 40px;
  padding-top: 3px;
}

header .inbody .navbar-brand span.subhead {
  display: none;
}

header .inbody .navbar-toggler {
  max-height: 25px;
  border: none;
  margin-top: 15px;
}

/*Page*/
.page {
  padding: 25px 0;
}

.page h1 {
  text-align: center;
  margin-bottom: 30px;
}

/*Page Goal*/
#goal {
  background-color: chartreuse;
  background-image: linear-gradient(to bottom, #EEF08A, #819A2D);
  border-top: 20px solid rgba(258, 200, 86, 0.5);
}

/*Page Services */
#services img.icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  width: 80px;
  height: 80px;
}

.service {
  margin: 20px 0;
  text-align: center;
}

#services h2 {
  padding-bottom: 10px;
}

/*Page Staff*/
#staff {
  background-color: darkorchid;
  background-image: linear-gradient(to top, #f6c0f9, #b25db7);
  border-top: 20px solid rgba(28, 187, 219, 0.2);
}

div #staff img {
  width: 100%;
}

#staff p {
  font-size: 0.8em;
}

#staff h2 {
  font-size: 1.0em;
  font-weight: 400;
  padding-bottom: 5px;
  color:beige;
}

.advisors {
  margin: 10px 0;
}

/*Page Testimonials*/
#testimonials {
  padding: 0;
}

#testimonials h1 {
  display: none;
}

#testimonials blockquote {
  padding: 0;
  margin: 0;
  border-left: none;
  min-height: 500px;
  position: relative;
}

#testimonials blockquote .quote {
  background-color:  rgba(255, 255, 255, 0.6);
  padding: 20px 5%;
  position: absolute;
  bottom: 0;
  width: 75%;
  font-weight: 700;
  border-radius: 0 50px 0 0;
  line-height: 110%;
  font-size: 1.2em;
}

#testimonials blockquote .quote:hover {
  background-color: rgba(154, 255, 2, 0.9);
}

#testimonials #inv1 {
  background: url(../img/inv1.jpg) no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#testimonials #inv2 {
  background: url(../img/inv2.jpg) no-repeat center center;
  background-size: cover;
}

#testimonials #inv3 {
  background: url(../img/inv3.jpg) no-repeat center center;
  background-size: cover;
}

#testimonials #inv4 {
  background: url(../img/inv4.jpg) no-repeat center center;
  background-size: cover;
}

#testimonials .quote .more, #testimonials .customer {
  opacity: 0;
  line-height: 0;
  font-size: 0;
  padding-top: 10px;
}

#testimonials .quote:hover .more {
  font-family: "Open Sans", sans-serif;
  display: block;
  font-weight: 100;
  opacity: 1;
  font-size: .8em;
  line-height: 120%;
}

#testimonials .quote:hover .customer {
  opacity: 1;
  display: block;
  font-size: 0.7em;
  text-align: right;
}

#testimonials .quote .intro::after {
  content: '..';
}

#testimonials .quote:hover .intro::after{
  content: '';
}

/*Footer*/
footer {
  background: #222;
  color: white;
  font-size: .8em;
  padding: 20px 0 40px;
}

footer a {
  color:coral;
}

footer a:hover {
  color: burlywood;
}

footer .navbar-inverse {
  margin-right: 50px;
}

footer .phone {
  font-size: 1.2em;
  font-weight: 700;
  color: chartreuse;
}